<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
</head>

<body>
    <form method="post">
        <lable for="Videoid">videoid</lable>
        <input type="text" name="videoid" >

        <lable for="description">description</lable>
        <input name="description">

        <lable for="thumbnail">thumbnail</lable>
        <input type="file" name="thumbnail" >

        <lable for="profile">profile</lable>
        <input type="file" name="profile" >

        <lable name="views">views</lable>
        <input type="text" name="views" >

        <label for="channel">channel </label>
        <input type="text" name="channel" >

        <label for="upload">upload</label>
        <input type="text" name="upload-info">>

        <input type="submit" value="Submit" />
        <input type="reset" value="Reset" />
    </form>
</body>

</html>